<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vanløse alle 82</title>
    <link rel="stylesheet" href="/styles/table.css">

</head>
<body>

<div>
    <div>

        <a href="/add-new-section">
            <button>Add New Section</button>
        </a>

    </div>
    <div>
        <h3></h3>
        <table>
            <tr>
                <th>Week</th>
                <th>Valid date</th>
            </tr>
            <tr>
                <td>increment week</td>
                <td>give it dates</td>
            </tr>
        </table>
    </div>

    <div>
        <table>
            <tr>
                <th>Section</th>
                <th>Assigned to</th>
                <th>Done by</th>
                <th>Approved</th>
                <th>Approve</th>
            </tr>

            <tr th:each="section :${sectionsList}">

                <td th:text="${section.sectionName}"></td>

                <td >
                    <a ><!--th:href="@{'/set-cleaning-on-section/'+${section.sectionId}}"-->
                        <table >
                            <tr>
                                <td th:text="${section.assignedTo}"></td>
                            </tr>
                        </table>
                    </a>
                </td>
                <td >
                    <a th:href="@{'/set-done-by/'+${section.sectionId}}">
                        <table >
                            <tr>
                                <td th:text="${section.doneBy}"></td>
                            </tr>
                        </table>
                    </a>
                </td>
                <td th:text="${section.approvedStatus} ? 'DONE' : ''">
                </td>
                <td>
                    <a th:href="@{'/set-approved/'+${section.sectionId}}">
                        Approve status
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>






<!--<div>-->
<!--    <table>-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>Section</th>-->
<!--            <th>Assigned to</th>-->
<!--            <th>Done by</th>-->
<!--            <th>Approved</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="section :${sectionsList}">-->
<!--            <td th:text="${section.sectionName}"></td>-->
<!--            <td th:text="${section.sectionName}"></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->

</body>
</html>