<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vanløse alle 82</title>
    <link rel="stylesheet" href="/styles/table.css">
</head>
<body>
<div>
    <h3></h3>
    <div>
        <table>
            <tr>
                <th>Week</th>
                <th>Valid date</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
    <table>
        <tr>
            <th>Person</th>
            <th>Task/Chore</th>
            <th>Day</th>
            <th>Clarification</th>
            <th>Approved</th>
        </tr>
        <tr>
            <td>Michael</td>
            <td>Mop Top + Main Floor</td>
            <td>Wednesday-Friday</td>
            <td>Including baths/Toilets/Stairs - TO BE DONE DAY AFTER VACUUMING</td>
            <td></td>
        </tr>
        <tr>
            <td>Carolina</td>
            <td>Clean ALL Small toilets (Top Floor, Main Floor, Basement)</td>
            <td>Thursday-Saturday</td>
            <td>Mirrors, Sinks, Toilets, Drains</td>
            <td></td>

        </tr>
        <tr>
            <td>Ayman</td>
            <td>Take out trashbags</td>
            <td>Tuesday</td>
            <td></td>
            <td></td>

        </tr>
        <tr>
            <td>Cristian</td>
            <td>Clean Kitchen, Basement</td>
            <td>Thursday-Saturday</td>
            <td>Remove dishes (dirty goes into dirty box, clean stuff into clean box), clean all surfaces, sink, all steel parts, oven, stove, wipe kitchen table</td>
            <td></td>
        </tr>
        <tr>
            <td>Jacob</td>
            <td>Mop Basement</td>
            <td>Wednesday-Friday</td>
            <td>Including baths/Toilets/Stairs - TO BE DONE DAY AFTER VACUUMING</td>
            <td></td>
        </tr>
        <tr>
            <td>Mo</td>
            <td>Clean Bathroom, Main Floor</td>
            <td>Thursday-Saturday</td>
            <td>Mirror, Sink, Toilet, Shower, Drains</td>
            <td></td>
        </tr>
        <tr>
            <td>Tobias</td>
            <td>Take out and sort the sorting garbage</td>
            <td>Tuesday</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Roxana</td>
            <td>Vacuum Top + Main Floor</td>
            <td>Sunday-Tuesday</td>
            <td>Including baths/Toilets/Stairs - TO BE DONE AFTER KITCHENS AND TOILETS</td>
            <td></td>
        </tr>
        <tr>
            <td>Mathias</td>
            <td>Take out Glass + Pant</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>Clean Laundry + Showers</td>
            <td>Thursday-Saturday</td>
            <td>Wipe off Machines, clean shower walls, brushed steel parts, drains, sink</td>
            <td></td>
        </tr>
        <tr>
            <td>Chris</td>
            <td>Wash towels</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Claudio</td>
            <td>Vacuum Basement </td>
            <td>Sunday-Tuesday</td>
            <td>Including baths/Toilets/Stairs - TO BE DONE AFTER KITCHENS AND TOILETS</td>
            <td></td>
        </tr>
        <tr>
            <td>Fran</td>
            <td>Wipe off kitchen counters, empty dishwasher of clean things</td>
            <td>Mon-Sun</td>
            <td>Every evening. Putting dirty stuff in is up to the person who made them dirty. Put the clean things in designated space.</td>
            <td></td>
        </tr>
        <tr>
            <td>Sara</td>
            <td>Clean Kitchen, Main Floor</td>
            <td>Thursday-Saturday</td>
            <td>Remove dishes (dirty goes into dirty box, clean stuff into clean box), clean all surfaces, sink, all steel parts, oven, stove</td>
            <td></td>
        </tr>
        <tr>
            <td>Nevethan</td>
            <td>Refill</td>
            <td></td>
            <td>handsoap, toiletpaper</td>
            <td></td>

        </tr>

        <tr>
            <td>Chanina</td>
            <td>Check mail & Buy</td>
            <td></td>
            <td>Handsoap, toiletpaper, dishwashing liquid, dishwashing tablets for machine,sponges, garbage bags, other disposables or things on shopping list.</td>
            <td></td>
        </tr>
    </table>
    </div>
    <div>

    </div>
    </div>
</body>
</html>