<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vanløse alle 82</title>
    <link rel="stylesheet" href="/styles/table.css">
</head>
<body>
<div>
    <h3></h3>
    <table>
        <tr>
            <th>Week</th>
            <th>Valid date</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>
    <table>
        <tr>
            <th>Section</th>
            <th>Assigned to</th>
            <th>Done by</th>
            <th>Completion date</th>
            <th>Approved</th>
        </tr>
        <tr>
            <td>1.Basement Living room</td>
            <td >
                <select name="memberName" >
                    <option th:each="member : ${MembersList}" th:text="${member.memberName}"></option>
                </select>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2. Basement Kitchen</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>3. Basement W.C</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>4. Basement Bathroom</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>5. Basement Hallway</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>6. Ground Floor Kitchen</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>7. Ground Floor W.C</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>8. Ground Floor Front<p>  hallway + Under stairs</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>9. Ground Floor Long<p>   hallway + Bathroom</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>10. Upper Floor Hallway<p>  + Stairs + W.C</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>

<hr>

<div>
    <a href="/code-90">
        <button>New Member</button>
    </a>
</div>
</body>
</html>