<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vanløse alle 82</title>
    <link rel="stylesheet" href="/styles/table.css">
</head>
<body>

<div> <!--id="tableDiv" style="    width: 100%;
    border: solid blue;"-->
    <div> <!--style="    width: 60%;"-->
        <h3></h3>
        <table>  <!--style="    width: 100%;"-->
            <tr>
                <th>Week</th>
                <th>Valid date</th>
            </tr>
            <tr>
                <td>
                    <form action="/" method="POST">
                        <select name="weekNumb">
                            <option value="1">24</option>
                            <option value="2">25</option>
                            <option value="3">26</option>
                            <option value="4">27</option>
                            <option value="5">28</option>
                            <option value="6">29</option>
                            <option value="7">30</option>
                            <option value="8">31</option>
                            <option value="9">32</option>
                            <option value="10">33</option>
                            <option value="11">34</option>
                            <option value="12">35</option>
                            <option value="13">36</option>
                            <option value="14">37</option>
                            <option value="15">38</option>
                            <option value="16">39</option>
                        </select>
                        <input type="submit" value="Choose">
                        <span th:text="${'current week '+(displayWeek + 23)+' index '+ displayWeek }"></span>
                    </form>
                </td>
                <td></td>
            </tr>
        </table>
    </div>
    <div> <!--style="    width: 60%;"-->
        <table>  <!--style="    width: 100%;"-->
            <tr >
                <th>Section</th>
                <th>Assigned to</th>
                <th>Done by</th>
                <th>Approved</th>
            </tr>

            <tr th:each="section :${sectionsList}">

                <td th:text="${section.sectionName}"></td>

                <td >
<!--                 STYLE="display: flex;
    justify-content: center;"   <a th:href="@{'/set-cleaning-on-section/'+${section.sectionId}}">-->
                        <table >
                            <tr >
                                <td th:text="${section.assignedTo}"></td>
                            </tr>
                        </table>
<!--                    </a>-->
                </td>
                <td >
                    <a th:href="@{'/set-done-by/'+${section.sectionId}}">
                        <table >
                            <tr>
                                <td th:text="${section.doneBy}"></td>
                            </tr>
                        </table>
                    </a>
                </td>
                <td th:text="${section.approvedStatus} ? 'DONE' : ''">
                </td>
            </tr>
        </table>
    </div>

   <!-- <div style="    width: 30%;
     float: left; ">
        <div style="
            widt: 30%">

            <a href="/add-new-section">
                <button style=  "background-color: lawngreen;
                             padding: 5% 5%;
                             margin: 4% 4%">Add New Section</button>
            </a>

        </div>-->
        <div style="    width: 30%;
     float: left; margin-left: 12%">
            <a href="/new-member">
                <button  style=  "background-color: #57a3aa;
                             padding: 5% 5%; float: left;
                             margin: 4% 4%
                             ; color: whitesmoke;
                             font-weight: bolder">New Member</button>
            </a>
        </div>
    </div>

</div>


</body>
</html>