<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vanløse alle 82</title>
    <link rel="stylesheet" href="/styles/forms.css">
</head>
<body>

<!--<form action="/new-member" method="post">
    <label>Enter ID</label>-->
<!--    <input type="number" name="memberId">
    <label>Enter Name:</label>
    <input type="text" name="memberName">
    <input type="submit" value="Add">
</form>-->

<div class="header">
    <h1>new member</h1>
</div>

<div class="form-container">

    <form action="/new-member" method="post">


        <label>Enter Name:</label>
        <input type="text" name="memberName">

        <input type="submit" value="Add">
    </form>
</div>

</body>
</html>