<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin/Vanløse alle 82</title>
    <link rel="stylesheet" href="styles/admin-nav.css">
    <link rel="stylesheet" href="styles/table.css">
</head>
<body>
<div>
    <ul>
        <li><a href="/code-90">Admin</a></li>
        <li><a href="/show-members">members</a></li>
        <li><a href="/show-sections">sections</a></li>
        <li><a href="/show-cleanings">cleanings</a></li>
    </ul>
</div>
<div>
    <table>
        <tr>
            <th>cleaning id</th>
            <th>week</th>
            <th>section</th>
            <th>assigned to</th>
            <th>done by</th>
            <th>completion date</th>
            <th>approved</th>
            <th><a href="/new-cleaning"><button>Add new cleaning</button></a></th>
        </tr>
        <tr th:each="cleaning : ${allCleanings}">
            <td th:text="${cleaning.cleaningId}"></td>
            <td th:text="${cleaning.weekNumb}"></td>
            <a><td th:text="${cleaning.cleaningSection.sectionName}"></td></a>
            <td th:text="${cleaning.assignedTo.memberName}"></td>
            <td  th:text="${cleaning.doneBy.memberName}"></td>
            <td th:text="${#dates.format(cleaning.completionDate, 'dd/MM/yyyy')}"></td>
            <td th:text="${cleaning.approvedStatus}"></td>
            <td><a th:href="@{'/update-cleaning/'+${cleaning.cleaningId}}"><button>Edit</button></a></td>
        </tr>

    </table>
</div>
</body>
</html>